<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Portfolio</title>

        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
    
    </head>

    <body>
        <div class="main">
            <h1>Hello {{ name }}</h1>
            <br>
            <p>Investy</p>
            <form action="/create_portfolio" method="POST" class="pure-form">
                <input class="form-control mr-sm-2" type="number" placeholder="Capital in USD($)" name = "amount">
                <br>
                <input class="form-control mr-sm-2" type="number" placeholder="Number of years" name = "years">
                <hr>
                <button type="submit" class="btn btn-primary" value="Submit">Generate portfolio</button>
            </form>
        </div>

        <div>
            <style type="text/css" media="screen">  
                table {
                    padding:2px;
                    border-spacing:20px;
                }

                table td{
                    border:1px solid black;
                    text-align: center;
                }
            </style>
            <p>{{ name }}'s portfolios:</p>
            <table>
                <tr>
                    <td><strong>Amount</strong></td>
                    <td><strong>Years</strong></td>
                    <td><strong>Low volatility stock</strong></td>
                    <td><strong>Low stock amount</strong></td>
                    <td><strong>Med volatility stock</strong></td>
                    <td><strong>Med stock amount</strong></td>
                    <td><strong>High volatility stock</strong></td>
                    <td><strong>High stock amount</strong></td>
                </tr>
                {% for portfolio in records %}
                    <tr>
                    {% for cell in portfolio %}
                        <td>{{ cell }}</td>
                    {% endfor %}
                    </tr>
                {% endfor %}
            </table>
            <hr>
            <a href="/back"><button class="btn btn-primary">Back</button></a>
            <a href="/sign-out"><button class="btn btn-primary">Signout</button></a>
        </div>
        
    </body>
</html>
